/* All */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header and nav bar */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em
}

/* Need to make sure that it is responsive */
/* Have a mobile design approach */

@media screen and (max-width:960px) {
    .nav-menu{
        position: fixed;
        top: 0;
        right: 0;
        background-color: gray;
        width: 60%;
        height: 100%;
        padding: 6rem 3rem 0;
        /* Create a transition when a hamburger menu is created */
        
    }
}