/* All */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* Header and nav bar */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    /* trial  */
    z-index: var(--z-fixed);
}

.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
}

.nav-home-logo,
.nav-menu-close,
.nav-menu-clickable,
.nav-menu-burger{
    display: flex;
    cursor: pointer
}

.nav-home-logo i{
    font-weight: 1rem;
}

.nav-menu-clickable{
    font-size: 1rem;
    column-gap: 0.5rem;
    align-items: center;
}

.nav-menu-close{
    position:absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    color: gray;
}


.nav-menu-burger{
    font-size: 1.25rem;
    column-gap: 0.5rem;
    align-items: center;
}


/* This is the list inside the nav bar */
.nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    list-style: none;
}

.nav-link{
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover{
    color: darkblue;
}

/* Need to make sure that it is responsive */
/* Have a mobile design approach */

@media screen and (max-width: 1605px) {
    .nav-menu{
        position: fixed;
        top: 0;

        /* If this is -100% the whole nav bar disappears */
        right: -500%;

        background-color: darkslateblue;
        backdrop-filter: blur(10px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;

        /* Create a transition when a hamburger menu is created */
        transition: right 0.4s;         
    }
}

.show-menu{
    right: 0;
}


/* HOME SECTION */
.home-container{
    padding-top: 3rem;
    row-gap: 1.5rem;
}

.home-image{
    width: 75%;
    text-align: right;
}

@media screen and (max-width: 480px) {
    .home-image {
      width: 100%;
    }
  }